html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.message-form-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.message-form {
  width: 100%;
  display: inline-block;
  font-size: 24px;
  border-radius: 4px;
  border: solid 2px #ccc;
  outline: none;
}

.messages {
  list-style: none;
}

.message {
  display: block;
  margin-bottom: 8px;
}

.message-username {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.message-icon {
  display: 'inline-block';
  width: 36px;
  height: 36px;
  border-radius: 3px;
  margin-right: 10px;
}

.message-text {
  display: inline-block;
  font-size: 14px;
}
